{% load static %}
<link  rel="stylesheet" href="{% static 'css/gdpr.css' %}">

 <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
 <link rel="stylesheet" href="{% static "css/reset.css"%}">
 <link rel="stylesheet" href="{% static "bootstrap.min.css"%}">
 <link rel="stylesheet" href="{% static "all.css" %}">




 <script  src="{% static 'jquery.min.js' %}"></script>
 <script src="{% static 'js/jquery.bs.gdpr.cookies.js' %}"></script>
 <script src="{% static 'js/gdpr_my.js' %}"></script>
  <script  src="{% static 'js/progressbar.js' %}"></script>
 <script  src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'all.min.js' %}"></script>
 <script  src="{% static 'bootstrap.min.js' %}"></script>
