{% load static %}
<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<script  src="{% static 'js/jquery.min.js' %}"></script>
<script src =https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js></script>
    <script src="https://js.braintreegateway.com/web/dropin/1.33.4/js/dropin.min.js" ></script>
    <script src="{% static 'js/getDropin.js' %}"></script>
</head>
{% csrf_token %}
<body>

    <div id="dropin-wrapper">
      <div id="checkout-message"></div>
      <div class="form-row">
          <input id="prezzo" type="text" class="form-control" placeholder="Inserisci  la cifra da versare in euro ">
        </div>
      <div id="dropin-container"></div>


    <button type="submit" id="submit-button" class="button button--small button--green">Paga</button>
</div>

</body>
</html>
