{% load static %}
<!DOCTYPE html>
<html lang="it">
  <head>
    <title>Breakingweb' Store</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="author" content="silverania" />
    <meta name="keywords"
      content="{% block keywords %}
      {% endblock %}" />
    <meta name="description"
      content="{% block description %}
      {% endblock %}" />
    <title>Il prezzo più basso</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <script src="https://js.braintreegateway.com/web/dropin/1.40.2/js/dropin.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!--          link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <script src="{% static 'js/all.min.js' %}"></script          -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="{% static 'css/@popperjs/core/dist/umd/popper.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/getDropin.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="{% static 'js/imagezoom.js' %}"></script>
  </head>

  <body>
    {% block content %}

    {% endblock %}
  </body>
</html>
