{% extends "product/base.html" %}
{% load static %}
{% if category %}{{ category.name }}{% else %}articoli{% endif %}
{% block content %}
<div id="sidebar">
<h3>Categorie</h3>
<ul>
<li {% if not category %}class="selected"{% endif %}>
<a href="{% url "product_list" %}">Tutto</a>
</li>
{% for c in categories %}
<li {% if category.slug == c.slug %}class="selected
"
{% endif %}>
<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
</li>
{% endfor %}
</ul>
</div>
<div id="main" class="product-list">
<h1>{% if category %}{{ category.name }}{% else %}Products
{% endif %}</h1>
<div class="row justify-content-center">
{% for product in products %}
{{product.image}}
<div class=" col-3 text-center item"  style="margin:0 auto;border: 1px solid orange;">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
<a href="{{category}}/{{products.slug}}"/>
<img class="imgitem img img-fluid" src="{% if product.photo%}{% get_media_prefix %}{{product.photo}}{% else %}{% static "img/no_image.png" %}{% endif %}">
</a>
   </div>
    </div>
<div class="row justify-content-center" >
        <div id="itemProductName" class="col-12 text-center"style="width:auto;font-weight:900;">
<a style="color:black;"href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        </div>
    </div>
${{ product.price }}
</div>

{% endfor %}
</div>
</div>
</div>
{% endblock %}