{% extends "base_main.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}{{product.name|slice:":30"}}{% endif %}
{% endblock %}
{% block keywords %}{{product.name}},{{ category.name }}
{% endblock %}
{% block description %}{{product.name}}
{% endblock %}
{% block pageTitle %}{{product.name|slice:":30"}}{% endblock pageTitle %}
{% block content %}
{% autoescape on %}
<script>
var category = "{{ category_selected }}";
var BASE_URL = "https://127.0.0.1:8000/";
var products = {{ products|safe }};
var product = '{{ product }}';
var productid = '{{ productid }}';
{% endautoescape %}
</script>
<div class="container-fluid">
<div class="row justify-content-start">
  <div class="col-md-6 col-sm-6">
    <div class="ms-2 mytitle">
      <a class="mytitle" align=top href="#"><span id="spantitle" class="badge bg-warning">Breakingweb's store</span></a>
    </div>
    <!--ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul-->
  </div>
<div id="ideeanimali" class="col-4 col-md-2 ">
</div>
</div>

<div class="row justyfy-justify-content-sm-center">
  

  <div class="col_product col-2 mt-5 text-start text-sm-start">
    <ul id="ulproduct" class="list-group"><span id="s_categorie" class="badge bg-light">Prodotti in {{category_selected}}</span>
    
    </ul>
  </div>

  <div class="col_product col-20 col-md-6  offset-sm-2 offset-md-2 me-3  mt-5">
        <div class="item text-sm-center text-md-end">
          <div id="divimage1" style="display:flex">
          <img  class="img img-fluid" id="imgTitleProduct"  src="{% get_media_prefix %}{{product.photo}}"/>
          <p class="text-start" id="s_item">{{product.name|slice:":100"}}..</p>
          </div>
          <div class="badge bg-light" id="s_item_price">{{product.price}} €
            <p id="p_consegna" align=center class="mb-1" ><span class=" cconsegna mt-3 badge bg-warning">Consegna in {{product.consegna}} giorni</p>
            <p id="p_consegna" align=left class="cconsegna mt-3 mb-1" >Costo spedizione incluso nel prezzo</p>
          <p id="prodottodisponibile" align=left class="text-start mb-2">
            prodotto {% if product.disponibile is True %} Disponibile {% else %} non disponibile {% endif %}
        </p>
          </div>
          
        </p>
<br>
        </div></div>
  
  
</div>
  
<div id="rowdescription" class="row justify-content-sm-center mb-5">
  <div class="col-sm-12 col-md-8 col-lg-6 text-center  mb-3" >
     <span class="mt-3"><span style="display:block;text-align:left;" id="truncate" {% if product.description|length > 300 %} onclick="truncateText(){% endif %}"> {{product.description}}</span>
      </span>
  </div>
</div>


      <div class="row">
        <div class="col-12 text-center">
    <div id="container">
      
      <figure class="zoom" onmousemove="zoom(event)" style="background-image:url({% get_media_prefix %}{{product.photo}})">
  <img class="img img-fluid" id="mainimage" src="{% get_media_prefix %}{{product.photo}}" />
</figure>
      
      
   
  </div>
</div>
</div>

</div>

<div>
 <div class="row justify-content-center" id="customer-info" hidden=hidden>
      <div id="datispedizione" class="col-3 text-center mt-5 mb-5 badge bg-light" >
        <div class="mb-4"><span id="titolospedizione" class="badge bg-warning">Spedisci Qui</span></div>
        <div class="mb-3" align=center>
          <div class="row">
            <div class="col-6">
      <div style="display:inline"></div> 
      {% csrf_token %}<input id="inome" style="display:inline;width:fit-content;max-width:100%" class="form-control mb-3" 
      placeholder="nome" aria-label="Nome" aria-describedby="basic-addon1"/>
            </div>
            <div class="col-6">
        <div style="display:inline"></div><input id="icognome"style="width:fit-content" class="form-control" placeholder="cognome" aria-label="cognome" aria-describedby="basic-addon1"/>
          </div>
        </div>
        </div>
         <div class="mb-3" align=center>
          <div class="row">
            <div class="col-6">
      <input id="icitta"  class="form-control mb-3" 
      placeholder="città" aria-label="Città" aria-describedby="basic-addon1"/>
            </div>
            <div class="col-6">
        <div ><input id="icap" class="form-control" placeholder="Cap" aria-label="Cap" aria-describedby="basic-addon1"/>
        </div> 
            </div>
          </div>
        </div>
        <div class="mb-3">
           <div class="row">
            <div class="col-6">
        <div></div> <div><input id="ivia"  class="form-control" placeholder="via" aria-label="Via" aria-describedby="basic-addon1"/>
          </div>
            </div>
            <div class="col-6">
        <div><input id="icivico" class=" form-control" placeholder="civico" aria-label="Numerocivico" aria-describedby="basic-addon1">
        </div> 
            </div></div>
        </div>
        <div>
        <div style="display:inline"class="mt-2"></div> <div style="display:inline" align=center><input id="itelefono" style="width:40%;display:inline;"class="form-control mb-5" placeholder="telefono" aria-label="Telefono" aria-describedby="basic-addon1"/></div> 
               <div style="display:block"></div><div style="display:inline-block;width:80%;"><textarea row=20 col=10 id="infoerichieste" style="font-size:1ev;"class="ms-2 form-control" aria-label="infovarie" placeholder="informazioni da sapere" aria-describedby="basic-addon1"></textarea>
  </div>
      </div>
      </button>
  
      </div>
  </div>
</div>


    <div class="row justify-content-center">
      <div class="col-3 text-center mb-5">
      <!-- DROPIN-->
      
    
    
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-12 text-center mb-1">
      <div id="dropin-container">
<section id="section_checkout"class="section">
    <div class="container" style="margin-bottom:20%;">
      <button  class="text-center btn btn-warning button is-primary" id="submitBtnnone">Compra</button>
       <button  class="text-center button is-primary" id="checkinfo" hidden=hidden>Continua</button>
       <button  hidden=hidden class="text-center button is-primary" id="submitBtn"></button>
    </div>
  </section>
<div>
      </div>
  

  
  </div>

  

   
  
   
<!-- customer orders -->
 
      {% endblock %}

