@font-face {
  font-family: "Alpha Slab One";
  src: url("../Fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../Fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../Fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: url("../Fonts/Open-Sans-Bold.ttf");
}

@font-face {
  font-family: "Open-Sans";
  src: url("../Fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "WorkSans-Regular";
  src: url("../Fonts/WorkSans-Regular.ttf");
}

body {
  background-color: white;
  width: 100%;
}
li[id^="li_product"] {
  margin: 3% auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-family: "Open-Sans";
  font-weight: 900;
  font-size: 3em;
  color: orange;
}
.col_product > #ulproduct {
  padding: 0;
  margin-left: 30%;
}
a {
  width: 100%;
  min-width: 100%;
}
ul#ulproduct {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  min-width: 100%;
}

#s_categorie,
#s_item {
  display: block;
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 900;
  color: brown;
  margin: auto;
  padding: 0;
}

#s_item_price {
  display: block;
  width: fit-content;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 20px auto;
  color: white;
  top: 20px;
}

#li_product {
  margin-top: 30px;
}

img_container {
  background-color: orange;
}

#dropin-container {
  width: 100%;
}
.button {
  cursor: pointer;
  font-weight: 500;
  width: 20%;
  line-height: inherit;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
}
.button--small {
  padding: 10px 20px;
  font-size: 0.875rem;
}
.button--green {
  outline: none;
  background-color: #64d18a;
  border-color: #64d18a;
  color: white;
  transition: all 200ms ease;
}
.button--green:hover {
  background-color: #8bdda8;
  color: white;
}

.item {
  width: 100%;
  min-width: 100%;
}

#s_item {
  margin-left: 5px;
  display: inline;
  margin-top: -1%;
  width: 80%;
}
#b_compra {
  margin-left: -9%;
}
section {
  height: auto;
}

#submit-button {
  margin-top: 50px;
}

#container {
  width: 234px;
  height: 199px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-left: 40%;
}
#buttonrefresh {
  margin-left: 25%;
}
/*ZOOMBOX=====================*/
/*IMAGE-----------------------*/
.zoombox {
  position: relative;
  /*border: 2px solid #AAAAAA;*/
  width: 130%;
  height: 140%;
  border: none;
  background-color: #666666;
  overflow: hidden;
}
.zoombox img {
  position: relative;
}
.zoombox img.drag {
  cursor: move;
}
.zoombox .selector {
  display: none;
  position: absolute;
  border: 1px solid #999999;
  background-color: rgba(255, 255, 255, 0.3);
}
#imgTitleProduct {
  border: 2px solid #aaaaaa;
  width: 15%;
  /* float:initial; */
  /* max-width: 5%; */
  height: 20%;
  border: none;
  background-color: #666666;
  overflow: hidden;
  vertical-align: top;
}
/*CONTROL---------------------*/
.reset {
  float: left;
  border: none;
}
.info {
  float: right;
}

input::placeholder {
  font-weight: bold;
  font-size: 0.5ev;
  opacity: 0.5;
  color: red;
}
#titolospedizione {
  margin-top: 3%;
  font-size: 1rem;
}

.line-height-li {
  line-height: 20%;
}
#datispedizione {
  width: fit-content;
  border-style: none;
}
#s_continua {
  font-size: 1.3rem;
  color: orange;
}
#col_image {
  margin-left: -5%;
  z-index: 99;
}
.img_logo {
  margin-right: 0%;
  margin-top: 20%;
}
@media screen and (min-width: 576px) {
  #s_categorie {
    font-size: medium;
  }
  li[id^="li_product"] > a {
    font-size: 0.8rem;
  }

  #s_title {
    font-family: "Open-Sans";
    font-weight: 900;
    font-size: 1em;
  }

  .img_logo {
    width: 70px;
  }
  .img_product {
    width: 150px;
  }
  .col_product {
    margin-top: 10px;
    /* margin-left: 10%; */
  }
  .struncate {
    size: 0.7rem;
  }
  .s_disponibile {
    size: 1rem;
  }
}

@media (max-width: 575.98px) {
  li[id^="li_product"] > a {
    font-size: 0.6rem;
  }

  .col_product > .item {
    margin-top: 10px;
    margin-left: 40%;
  }
  #truncate {
    font-size: 1rem;
  }
  .mytitle {
    color: #2b7d0e;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.125;
  }
  ul#ulproduct {
    padding: 0;
    margin-left: 0;
    width: 100%;
    min-width: 100%;
  }
  #ideeanimali {
    margin-left: 35%;
  }
  #b_compra {
    font-size: medium;
    font-weight: bold;
    width: 100%;
  }

  #s_categorie {
    font-size: x-small;
    display: block;
    margin-right: auto;
  }
  #s_item {
    font-size: x-small;
  }
  #s_title {
    font-family: "Open-Sans";
    font-weight: 900;
    font-size: 1em;
  }
  .img_logo {
    width: 30px;
    height: auto;
  }
  .struncate {
    size: 0.6rem;
  }
  #s_title {
    font-family: "Open-Sans";
    font-weight: 900;
    font-size: 0.6rem;
  }
  .s_disponibile {
    size: 0.6rem;
  }
  #s_item_price {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 900;
    margin: 20px auto;
    color: white;
    top: 20px;
  }
}

@media (min-width: 991.98px) {
  #s_categorie {
    font-size: medium;
  }
  #s_categorie {
    font-size: medium;
  }
  li[id^="li_product"] > a {
    font-size: 0.8rem;
  }
}

@media (min-width: 1199.98px) {
  #s_categorie {
    font-size: large;
  }
}

@media (min-width: 1399.98px) {
  #b_compra {
    font-size: medium;
    font-weight: bold;
    width: 30%;
  }
  li[id^="li_product"] > a {
    font-size: 1rem;
  }
}
