@font-face {
  font-family: "Alpha Slab One";
  src: url("../Fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../Fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../Fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: url("../Fonts/Open-Sans-Bold.ttf");
}

@font-face {
  font-family: "Open-Sans";
  src: url("../Fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "WorkSans-Regular";
  src: url("../Fonts/WorkSans-Regular.ttf");
}

body {
  background-color: white;
  width: 100%;
}
li[id^="li_product"] {
  margin: 1% auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.divclassimage {
  display: block;
  width: 100%;
}

.title {
  font-family: "Open-Sans";
  font-weight: 900;
  font-size: 3em;
  color: orange;
}
.col_product > #ulproduct {
  padding: 0;
  margin-left: 30%;
}
a {
  width: 100%;
  min-width: 100%;
}
ul#ulproduct {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  min-width: 100%;
}

#li_product {
  margin-top: 30px;
}

figure.zoom {
  margin: 0 auto;
  & img:hover {
    opacity: 0;
  }
  img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
  }
  background-position: 50% 50%;
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor: zoom-in;
}

#dropin-container {
  width: 100%;
}
.button {
  cursor: pointer;
  font-weight: 500;
  width: 20%;
  line-height: inherit;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
}
.button--small {
  padding: 10px 20px;
  font-size: 0.875rem;
}
.button--green {
  outline: none;
  background-color: #64d18a;
  border-color: #64d18a;
  color: white;
  transition: all 200ms ease;
}
.button--green:hover {
  background-color: #8bdda8;
  color: white;
}

.item {
  width: 100%;
  min-width: 100%;
}
#s_categorie {
  color: black;
}
#s_item {
  margin-left: 5px;
  display: inline;
  margin-top: -1%;
  width: 80%;
}
#b_compra {
  margin-left: -9%;
}
section {
  height: auto;
}

#submit-button {
  margin-top: 50px;
}

/*CONTROL---------------------*/
.reset {
  float: left;
  border: none;
}
.info {
  float: right;
}

input::placeholder {
  font-weight: bold;
  font-size: 0.5ev;
  opacity: 0.5;
  color: red;
}
#titolospedizione {
  margin-top: 3%;
  font-size: 1rem;
}

.line-height-li {
  line-height: 20%;
}
#datispedizione {
  width: fit-content;
  border-style: none;
}
#s_continua {
  font-size: 1.3rem;
  color: orange;
}
#col_image {
  margin-left: -5%;
  z-index: 99;
}
.img_logo {
  margin-right: 0%;
  margin-top: 20%;
}
@media screen and (min-width: 576px) {
  li[id^="li_product"] > a {
    font-size: 0.8rem;
  }

  #s_title {
    font-family: "Open-Sans";
    font-weight: 900;
    font-size: 1em;
  }

  .img_logo {
    width: 70px;
  }
  .img_product {
    width: 150px;
  }
  .col_product {
    margin-top: 10px;
    /* margin-left: 10%; */
  }
  .struncate {
    size: 0.7rem;
  }
  .s_disponibile {
    /* display: block; */
    /* margin: 3% auto; */
    font-size: 0.7rem;
    width: 40%;
  }

  a.mytitle {
    margin-top: 10%;
    display: block;
    font-size: 1.8rem;
    margin-left: 5%;
  }

  #s_item {
    display: block;
    width: fit-content;
    font-size: 1rem;
    font-weight: 900;
    color: brown;
    margin: auto;
    padding: 0;
  }
  p#p_consegna {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 900;
    /* width: 50%; */
    margin: 0 auto;
  }
  #prodottodisponibile {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 900;
    /* width: 50%; */
    margin: 0 auto;
  }
  #s_item_price {
    display: block;
    width: fit-content;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 900;
    margin: 20px auto;
    color: #1d6425;
  }
  #s_categorie {
    display: block;
    margin-right: auto;
  }
  #imgTitleProduct {
    border: 2px solid #aaaaaa;
    width: 40%;
    /* float:initial; */
    /* max-width: 5%; */
    height: 20%;
    border: none;
    background-color: #666666;
    overflow: hidden;
    vertical-align: top;
  }
}

@media (max-width: 575.98px) {
  li[id^="li_product"] > a {
    font-size: 0.6rem;
  }

  .col_product > .item {
    margin-top: -5;
    margin-left: 40%;
  }
  #truncate {
    font-size: 1rem;
  }
  a.mytitle {
    font-size: 2rem;
    margin-left: 5%;
  }
  a.mytitle {
    display: block;
    margin-top: 5%;
    color: #2b7d0e;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.125;
  }
  ul#ulproduct {
    padding: 0;
    margin-left: 0;
    width: fit-content;
    /* min-width: 100%; */
  }
  #ideeanimali {
    margin-left: 20%;
  }
  #b_compra {
    font-size: medium;
    font-weight: bold;
    width: 100%;
  }

  #s_item {
    font-size: medium;
    font-weight: 900;
    color: brown;
    margin: auto;
  }
  #s_title {
    font-family: "Open-Sans";
    font-weight: 900;
    font-size: 1em;
  }
  .img_logo {
    width: 30px;
    height: auto;
  }
  .struncate {
    size: 0.6rem;
  }
  #s_title {
    font-family: "Open-Sans";
    font-weight: 900;
    font-size: 0.6rem;
  }
  .s_disponibile {
    font-size: 0.5rem;
  }
  #s_item_price {
    display: block;
    width: fit-content;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 900;
    margin: 10% auto;
    color: #4e8354;
  }

  p#p_consegna {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 900;
    /* width: 50%; */
    margin: 0 auto;
  }
  #prodottodisponibile {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 900;
    /* width: 50%; */
    margin: 0 auto;
  }
  #submitBtnnone {
    width: 100%;
  }
  .zoom {
    width: 80%;
    max-width: 80%;
    max-height: 80%;
  }

  #s_categorie {
    font-size: x-small;
    display: block;
    margin-right: auto;
  }
  #imgTitleProduct {
    border: 2px solid #aaaaaa;
    width: 15%;
    /* float:initial; */
    /* max-width: 5%; */
    height: 20%;
    border: none;
    background-color: #666666;
    overflow: hidden;
    vertical-align: top;
  }
}
#rowdescription {
  padding: 2%;
}
@media (min-width: 991.98px) {
  li[id^="li_product"] > a {
    font-size: 0.8rem;
  }

  #s_item {
    display: block;
    width: fit-content;
    font-size: 1.6rem;
    font-weight: 900;
    color: brown;
    margin: auto;
    padding: 0;
  }
  p#p_consegna {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 900;
    margin: 0 auto;
  }
  #prodottodisponibile {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 900;
    margin: 0 auto;
  }

  #s_item_price {
    display: block;
    width: fit-content;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 900;
    margin: 10% auto;
    color: #1d6425;
  }
  #s_categorie {
    font-size: medium;
    display: block;
    margin-right: auto;
  }
  #imgTitleProduct {
    border: 2px solid #aaaaaa;
    width: 15%;
    /* float:initial; */
    /* max-width: 5%; */
    height: 20%;
    border: none;
    background-color: #666666;
    overflow: hidden;
    vertical-align: top;
  }
}

@media (min-width: 1199.98px) {
  #s_categorie {
    font-size: large;
    margin-left: 0;
    margin-bottom: 8%;
  }
  #s_item {
    display: block;
    width: fit-content;
    font-size: 1.6rem;
    font-weight: 900;
    color: brown;
    margin: auto;
    padding: 0;
  }
  p#p_consegna {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 900;
    margin: 0 auto;
  }
  #prodottodisponibile {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 900;
    margin: 0 auto;
  }

  #s_item_price {
    display: block;
    width: fit-content;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 900;
    margin: 10% auto;
    color: #1d6425;
  }

  #imgTitleProduct {
    border: 2px solid #aaaaaa;
    width: 15%;
    /* float:initial; */
    /* max-width: 5%; */
    height: 20%;
    border: none;
    background-color: #666666;
    overflow: hidden;
    vertical-align: top;
  }
}

@media (min-width: 1399.98px) {
  #b_compra {
    font-size: medium;
    font-weight: bold;
    width: 30%;
  }
  li[id^="li_product"] > a {
    font-size: 1rem;
  }
  #s_item_price {
    display: block;
    width: fit-content;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 900;
    margin: 10% auto;
    color: #1d6425;
  }
  p#p_consegna {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 900;
    margin: 0 auto;
  }
  #prodottodisponibile {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 900;
    /* width: 50%; */
    margin: 0 auto;
  }
  #s_item {
    display: block;
    width: fit-content;
    font-size: 1.6rem;
    font-weight: 900;
    color: brown;
    margin: auto;
    padding: 0;
  }

  #s_categorie {
    font-size: large;
    display: block;
    margin-right: auto;
  }
  #imgTitleProduct {
    border: 2px solid #aaaaaa;
    width: 15%;
    /* float:initial; */
    /* max-width: 5%; */
    height: 20%;
    border: none;
    background-color: #666666;
    overflow: hidden;
    vertical-align: top;
  }
}
